@page
@{
    ViewData["Title"] = "Sew Sew Su - Alterations & Repairs";
}

<html class="html">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="~/js/site.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body class="body">

    <div id="container">


        <div>
            <img id="window" src="~/images/window.png" />
            <img id="cat" src="~/images/cat.png" />
            <img id="sewsewsu" src="~/images/SewSewSueBoard.png" />
            <img id="panrack" src="~/images/panrack.png" />

            <img id="kitchenunits" src="~/images/kitchenunits.png" />
        </div>


    </div>

    <!--
    <div class="navbar">


            <table class="table">
                <tr>
                    <td class="rose-td"><img class="rose-1" src="Images/rose.png"></td>
                    <td>
                        <h1 id="top-title">Sew Sew Su</h1>
                    </td>
                    <td><img class="rose-2" src="Images/rose.png"></td>
                </tr>
            </table>



            <div class="centre">
                <table>
                    <tr>
                        <td>
                            <img id="dot-1" src="Images/dot.png">
                            <img id="dot-2" src="Images/dot.png">
                            <img id="dot-3" src="Images/dot.png">
                        </td>
                        <td id="bottom-title">Alterations While you Shop</td>
                        <td><img id="sew-machine" src="Images/sew.png"></td>
                    </tr>
                </table>
            </div>

    </div>
        -->
</body>
</html>


