@page {
    size: A4;
    margin: 0;
}
#webpage {
    margin: 0 auto; 
    max-width: 1365px;
    min-width: 1365px;
    max-height: 2170px;
}

.html {
    max-height: 2170px;
}

.body {
    background-color: peachpuff;
    max-height:2170px;
    overflow:hidden;
}

#top-title-container {
    margin: 0 auto;
    width: 60%;
    height: 130px;
    background-color: yellow;
    position: relative;
    top: -900px;
    left: -200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#bottom-title-container {
    margin: 0 auto;
    width: 60%;
    background-color: yellow;
    margin-top: -20px;
    height: 40px;
    position: relative;
    top: -910px;
    left: -200px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


#top-title {
    font-family: 'Nanum Pen Script', cursive;
    color: black;
    text-align: center;
    font-size: 9em;    
    display: inline-block;
    line-height: 100px;
    margin: 0 auto;
    width: 100%;
    padding: 0px;
    position: relative;
    top: 5px;
    left:10px;
}

body {
    background-color: black;
}

.rose-td {
    padding-top: 0px;
}

.rose-1 {
    height: 40px;
    position: relative;
    left: 80px;
}

.rose-2 {
    height: 40px;
    position: relative;
    right: 50px;
}

#dot-1 {
    float: left;
    height: 30px;
    position: relative;
    top: -10px;
    left: 35px;
}

#dot-2 {
    float: left;
    height: 40px;
    position: relative;
    top: 0px;
    left: 30px;
}

#dot-3 {
    float: left;
    height: 20px;
    position: relative;
    top: 15px;
    left: -20px;
}

#bottom-title {
    font-family: 'Pangolin', cursive;
    text-align: center;
    margin: 0 auto;    
    Width: 80%;
    color: #FF7387;
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 0.2em;
}

#sew-machine {
    display: inline-block;
    height: 40px;
    float: right;
    position: relative;
    top: 0;
    right: 5px;
}

.centre {
    margin: 0 auto;
    Width: 80%;
}

#equipment {
    width: 90%;
    height: 500px;
    margin-top: -30px;
    margin-left: 50px;
}

#cork-board {
    width: 100%;
}

#red-pin {
    position: relative;
    height: 40px;
    top: -800px;
    left: 100px;
    z-index: 100;
}

#purple-pin {
    position: relative;
    height: 40px;
    top: -820px;
    left: 800px;
    z-index: 100;
}

#paper {
    position: relative;
    top: -930px;
    left: 10px;
    height: 400px;
    z-index: 1000;
}

#find-me-here {
    font-family: 'Caveat', cursive;
    font-size: 4em;
    display: inline-block;
    position: relative;
    top: -1050px;
    left: -450px;
    z-index: 1000
}

#light-green-pin {
    position: relative;
    height: 40px;
    top: -1100px;
    left: 290px;
    z-index: 10000;
}

#paper-portrait {
    height: 700px;
    position: relative;
    top: -2875px;
    left: 798px;
    z-index: 1000
}

#price-list {
    font-family: 'Caveat', cursive;
    font-size: 4em;
    display: inline-block;
    position: relative;
    top: -3130px;
    left: 340px;
    z-index: 1000;
}


.price-list-table {
    position: relative;
    top: -3450px;
    left: 940px;
    width: 300px;
    z-index: 1000;
    font-family: "Helvetica";
}

#light-green-pin-1 {
    position: relative;
    height: 40px;
    top: -3170px;
    left: 1000px;
    z-index: 10000;
}

#black-pin {
    position: relative;
    height: 40px;
    top: -3180px;
    left: 690px;
    z-index: 1000;
}

#paper-2 {
    position: relative;
    top: -1730px;
    left: 400px;
    height: 400px;
    z-index: 101;
}

.shopping-list-title {
    font-size: 1.5em;
}

#shopping-list {
    font-family: 'Caveat', cursive;
    font-size: 2em;
    display: inline-block;
    position: relative;
    top: -1860px;
    left: 50px;
    color: blue;
    z-index: 1000
}

#pink-pin-2 {
    position: relative;
    height: 30px;
    top: -1890px;
    left: 700px;
    z-index: 1000;
}

.shopping-list-p {
    display: block;
    font-size: 1.5em;
    color: blue;
}

.shopping-list-p-chocolate {
    display: block;
    font-size: 1.5em;
    padding-left: 55px;
    color: blue;
}

.shopping-list-milk {
    display: block;
    font-size: 1.5em;
    padding-left: 49px;
    color: blue;
}

.shopping-list-rw {
    display: block;
    font-size: 1.5em;
    padding-left: 45px;
    color: blue;
}

.shopping-list-p-ln {
    display: block;
    font-size: 1.5em;
    padding-left: 5px;
    color: blue;
}

.shopping-list-lasagne {
    display: block;
    font-size: 1.5em;
    padding-left: 42px;
    color: blue;
}

.shopping-list-bt {
    display: block;
    font-size: 1.5em;
    padding-left: 8px;
    color: blue;
}

.shopping-list-gt {
    display: block;
    font-size: 1.5em;
    padding-left: 10px;
    color: blue;
}

.shopping-list-c {
    display: block;
    font-size: 1.5em;
    padding-left: 45px;
    color: blue;
}

.shopping-list-mn {
    display: block;
    font-size: 1.5em;
    padding-left: -5px;
    color: blue;
}

#monster {
    height: 60px;
    float: right;
    position: relative;
    left: -100px;
    top: 200px;
}

#polaroid {
    position: relative;
    top: -3490px;
    top: -3450px;
    left: 1100px;
    z-index: 1000;
    height: 400px;
}

#blue-pin-polaroid {
    height: 40px;
    position: relative;
    top: -3650px;
    left: 900px;
    z-index: 1000;
}

#light-blue-pin-polaroid {
    height: 40px;
    position: relative;
    top: -3770px;
    left: 1070px;
    z-index: 1000;
}

#green-pin-polaroid {
    height: 40px;
    position: relative;
    top: -3780px;
    left: 690px;
    z-index: 10;
}

#purple-pin-polaroid {
    height: 40px;
    position: relative;
    top: -3800px;
    left: 550px;
    z-index:1000;
}

#black-pin-polaroid {
    height: 40px;
    position: relative;
    top: -3870px;
    left: 750px;
    z-index: 1000
}

#red-pin-polaroid {
    height: 40px;
    position: relative;
    top: -3740px;
    left: 485px;
    z-index: 1000;
}

#pink-pin-polaroid {
    height: 30px;
    position: relative;
    top: -3825px;
    left: 505px;
}

#blue-pin-polaroid-2 {
    height: 40px;
    position: relative;
    top: -3740px;
    left: 540px;
    z-index: 10000;
}

#key-ring {
    height: 100px;
    position: relative;
    top: -3820px;
    left: 980px;
}

#smiley {
    height: 100px;
    position: relative;
    top: -3735px;
    left: 650px;
}

#torn-paper {
    height: 300px;
    position: relative;
    top: -1820px;
    left: 0px;
}

.introdution {
    font-family: 'Caveat', cursive;
    position: relative;
    top: -2060px;
    left: 100px;
    font-size: 1.9em;
    width: 750px;
}

#address {
    font-size: 1.3em;
    line-height: 1em;
    position: relative;
    top: -1215px;
    left: 80px;
    z-index: 1000;
    width: 150px;
    font-family: "Helvetica";
}

#map {
    position: relative;
    top: -1402px;
    left: 210px;
    z-index: 1000;
    width: 300px;
}

#green-pin-1 {
    height: 40px;
    position: relative;
    top: -1930px;
    left: 400px;
    z-index: 1000
}

#kitchenunits {
    position:relative;
    top:-3400px;
    height:1020px;
    left:-1220px;
}

#cat {
    position: relative;
    top: -4860px;
    left:-300px;
    height: 500px;
}

#window {
    position: relative;
    top: -6080px;
    left:-1200px;
    height: 1000px;
}

#panrack {
    position: relative;
    top: -6980px;
    height: 700px;
    left:1450px;
}

.services {
    font-size: 1em;
}

#smiley, #monster {
    animation: rotate 2s 2;
    animation-timing-function: cubic-bezier(1,0,.5,1);
}

.navbar {
    visibility: hidden;
}

.th{
    text-align:left;
}




@media screen and (max-width: 1365px) {
    .mobile {
        visibility: hidden;
    }

    #webpage {
        max-width: 1024px;
        min-width: 1024px;
        max-height: 1824px;
    }

    .body {
        max-height: 1824px;
        min-width: 1024px;
    }

    #cork-board {
        width: 1024px;
    }

    #top-title-container {
        margin: 0 auto;
        width: 60%;
        height: 100px;
        background-color: yellow;
        position: relative;
        top: -680px;
        left: -160px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    #bottom-title-container {
        margin: 0 auto;
        width: 60%;
        background-color: yellow;
        margin-top: -20px;
        height: 40px;
        position: relative;
        top: -680px;
        left: -160px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
 

    #top-title {
        font-family: 'Nanum Pen Script', cursive;
        color: black;
        text-align: center;
        font-size: 6em;
        display: inline-block;
        line-height: 100px;
        margin: 0 auto;
        width: 100%;
        padding: 0px;
        position: relative;
        top: -10px;
        left: 10px;
    }

    .rose-td {
        padding-top: 0px;
    }

    .rose-1 {
        height: 40px;
        position: relative;
        left: 70px;
    }

    .rose-2 {
        height: 40px;
        position: relative;
        right: 40px;
    }

    #dot-1 {
        float: left;
        height: 30px;
        position: relative;
        top: -15px;
        left: 10px;
    }

    #dot-2 {
        float: left;
        height: 40px;
        position: relative;
        top: -30px;
        left: 10px;
    }

    #dot-3 {
        float: left;
        height: 20px;
        position: relative;
        top: -55px;
        left: 40px;
    }

    #bottom-title {
        font-family: 'Pangolin', cursive;
        text-align: center;
        margin: 0 auto;
        Width: 80%;
        color: #FF7387;
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: 0.2em;
        position:relative;
        top:-30px;
    }

    #sew-machine {
        display: inline-block;
        height: 40px;
        float: right;
        position: relative;
        top: -30px;
        right: -10px;
    }

    .centre {
        margin: 0 auto;
        Width: 80%;
    }

    #equipment {
        width: 90%;
        height: 500px;
        margin-top: -30px;
        margin-left: 50px;
    }

    #red-pin {
        position: relative;
        height: 30px;
        top: -620px;
        left: 80px;
        z-index: 100;
    }

    #purple-pin {
        position: relative;
        height: 30px;
        top: -620px;
        left: 590px;
        z-index: 100;
    }

    #paper {
        position: relative;
        top: -700px;
        left: 10px;
        height: 350px;
        z-index: 1000;
    }

    #find-me-here {
        font-family: 'Caveat', cursive;
        font-size: 3.5em;
        display: inline-block;
        position: relative;
        top: -810px;
        left: -400px;
        z-index: 1000
    }

    #light-green-pin {
        position: relative;
        height: 30px;
        top: -850px;
        left: 290px;
        z-index: 10000;
    }

    #paper-portrait {
        height: 550px;
        position: relative;
        top: -2330px;
        left: 580px;
        z-index: 1000
    }

    #price-list {
        font-family: 'Caveat', cursive;
        font-size: 4em;
        display: inline-block;
        position: relative;
        top: -2530px;
        left: 250px;
        z-index: 1000;
    }


    .price-list-table {
        position: relative;
        top: -2790px;
        left: 680px;
        width: 300px;
        z-index: 1000;
        font-family: "Helvetica";
        font-size:1.2em;
    }

    #light-green-pin-1 {
        position: relative;
        height: 30px;
        top: -2560px;
        left: 700px;
        z-index: 10000;
    }

    #black-pin {
        position: relative;
        height: 30px;
        top: -2550px;
        left: 510px;
        z-index: 1000;
    }

    #paper-2 {
        position: relative;
        top: -1420px;
        left: 400px;
        height: 300px;
        z-index: 101;
    }

    .shopping-list-title {
        font-size: 1.5em;
    }

    #shopping-list {
        font-family: 'Caveat', cursive;
        font-size: 1.5em;
        display: inline-block;
        position: relative;
        top: -1520px;
        left: 90px;
        color: blue;
        z-index: 1000
    }

    #pink-pin-2 {
        position: relative;
        height: 25px;
        top: -1540px;
        left: 500px;
        z-index: 10000000;
    }

    .shopping-list-p {
        display: block;
        font-size: 1.2em;
        color: blue;
    }

    .shopping-list-p-chocolate {
        display: block;
        font-size: 1.3em;
        padding-left: 55px;
        color: blue;
    }

    .shopping-list-milk {
        display: block;
        font-size: 1.2em;
        padding-left: 49px;
        color: blue;
    }

    .shopping-list-rw {
        display: block;
        font-size: 1.2em;
        padding-left: 45px;
        color: blue;
    }

    .shopping-list-p-ln {
        display: block;
        font-size: 1.3em;
        padding-left: 5px;
        color: blue;
    }

    .shopping-list-lasagne {
        display: block;
        font-size: 1.2em;
        padding-left: 42px;
        color: blue;
    }

    .shopping-list-bt {
        display: block;
        font-size: 1.2em;
        padding-left: 8px;
        color: blue;
    }

    .shopping-list-gt {
        display: block;
        font-size: 1.3em;
        padding-left: 10px;
        color: blue;
    }

    .shopping-list-c {
        display: block;
        font-size: 1.2em;
        padding-left: 45px;
        color: blue;
    }

    .shopping-list-mn {
        display: block;
        font-size: 1.2em;
        padding-left: -5px;
        color: blue;
    }

    #monster {
        height: 40px;
        float: right;
        position: relative;
        left: -400px;
        top: -40px;
    }

    #polaroid {
        position: relative;
        top: -2720px;
        left: 900px;
        z-index: 1000;
        height: 300px;
    }

    #blue-pin-polaroid {
        height: 30px;
        position: relative;
        top: -2800px;
        left: 900px;
        z-index: 1000;
    }

    #light-blue-pin-polaroid {
        height: 30px;
        position: relative;
        top: -3020px;
        left: 820px;
        z-index: 1000000;
    }

    #green-pin-polaroid {
        height: 30px;
        position: relative;
        top: -2980px;
        left: 520px;
        z-index: 100000;
    }

    #purple-pin-polaroid {
        height: 30px;
        position: relative;
        top: -3000px;
        left: 500px;
        z-index: 1000;
    }

    #black-pin-polaroid {
        height: 30px;
        position: relative;
        top: -3040px;
        left: 590px;
        z-index: 1000
    }

    #red-pin-polaroid {
        height: 30px;
        position: relative;
        top: -2970px;
        left: 465px;
        z-index: 1000;
    }

    #pink-pin-polaroid {
        height: 30px;
        position: relative;
        top: -3025px;
        left: 455px;
    }

    #blue-pin-polaroid-2 {
        height: 30px;
        position: relative;
        top: -3020px;
        left: 340px;
        z-index: 10000;
    }

    #key-ring {
        height: 100px;
        position: relative;
        top: -3050px;
        left: 780px;
    }

    #smiley {
        height: 100px;
        position: relative;
        top: -2970px;
        left: 530px;
        z-index:1000000;
    }

    #torn-paper {
        height: 240px;
        position: relative;
        top: -1500px;
        left: 0px;
        z-index:10000;
    }

    .introdution {
        font-family: 'Caveat', cursive;
        position: relative;
        top: -1680px;
        left: 70px;
        font-size: 1.5em;
        width: 680px;
        z-index:10000;
    }

    #address {
        font-size: 1.3em;
        line-height: 1em;
        position: relative;
        top: -965px;
        left: 70px;
        z-index: 1000;
        width: 150px;
        font-family: "Helvetica";
    }

    #map {
        position: relative;
        top: -1140px;
        left: 190px;
        z-index: 1000;
        width: 250px;
    }

    #green-pin-1 {
        height: 40px;
        position: relative;
        top: -1570px;
        left: 400px;
        z-index: 100000;

    }

    #kitchenunits {
        position: relative;
        top: -2800px;
        height: 1020px;
        left: -1220px;
    }

    #cat {
        position: relative;
        top: -4060px;
        left: -20px;
        height: 300px;
        z-index:10000;
    }
}

/*@media screen and (max-width: 1024px) {

    .mobile {
        visibility: hidden;
    }

    #webpage {
        max-width: 768px;
        min-width: 768px;
    }

    .body {
        max-height: 2194px;
        min-width: 768px;
    }
}


@media screen and (max-width: 768px) {

    #mobile {
        visibility: hidden;
    }

    #webpage {
        max-width: 500px;
        min-width: 500px;
    }

    .body {
        max-height: 2194px;
        min-width: 500px;
    }
}*/

@media screen and (max-width: 500px) {

    #webpage {
        visibility: hidden;
    }

    #webpage {
        min-width: 300px;
    }

    .body {
        max-height: 909px;
        min-width: 300px;
    }

    .mobile {
        visibility: visible;
    }

    .wood{
        position:relative;
        top:-1825px;
        width:100%;
    }

    .wood-1 {
        position: relative;
        top:-4400px;
    }

    .board-snippet {
        position: relative;
        top: -1827px;
        width:500px;
    }
    .board-snippet-1 {
        position: relative;
        top: -1827px;
        width: 500px;
    }
    .yellow{
        position:relative;
        top:-3600px;
        height:110px;
        background-color:yellow;
        width:100%;
    }

    .mobile-rose-1 {
        height: 20px;
        position: relative;
        left: 0px;
        top: 25px;
        float:right;
    }
    .mobile-rose-2 {
        height: 20px;
        float:left;
        position:relative;
        top:25px;   
        right:10px;

    }
    #mobile-top-title {
        font-family: 'Nanum Pen Script', cursive;
        color: black;
        font-size: 3em;
        text-align:center;
        position:relative;
        top:-10px;
    }
    .mobile-tel {
        font-family: 'Pangolin', cursive;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 1px;
        padding-top: 5px;
        font-size: 1.0em;
    }

    #mobile-bottom-title {
        font-family: 'Pangolin', cursive;
        text-align: center;
        margin: 0 auto;
        Width: 100%;
        color: #FF7387;
        font-size: 1em;
        font-weight: 600;
        padding: 0px;
        display: inline-block;
        position:relative;
        top:-43px;
    }

    #sew-machine{
        position:relative;
        top:-50px;
        right:15px;
        height:25px;
    }

    #dot{
        height:10px;
        position:relative;
        top:-38px;
        left:7px;
    }
    #dot-1 {
        height: 15px;
        position: relative;
        top: -42px;
        left: 23px;
    }
    #dot-2 {
        height: 12px;
        position: relative;
        top: -50px;
        left: 9px;
    }

    #mobile-paper-portrait {
        position: relative;
        top: -3620px;
        left: 8px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    #bottom-paper{
        width:100%;
    }

    #mobile-black-pin {
        position: relative;
        top: -4000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20px;
    }

    #mobile-price-list {
        font-family: 'Caveat', cursive;
        position: relative;
        top: -4016px;
        left:-45px;
        margin-left: auto;
        margin-right: auto;
        width:80px;
        font-size:2em;
        font-weight:700;
    }

    .mobile-price-list-table {
        position: relative;
        top: -4030px;
        left:17px;
        margin-left: auto;
        margin-right: auto;
        width:210px;
        font-size:1em;
    }

    #mobile-light-green-pin {
        position: relative;
        top: -4015px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        z-index:10;
    }

    #mobile-paper {
        position: relative;
        top: -4050px;
        left: 8px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    #mobile-find-me-here {
        font-family: 'Caveat', cursive;
        position: relative;
        top: -4410px;
   
        margin-left: auto;
        margin-right: auto;
        width: 135px;
        font-size: 2em;
        font-weight: 600;
        text-align: center;
    }

    #mobile-address {
        position: relative;
        top: -4420px;
        margin-left: auto;
        margin-right: auto;       
        width: 55%;
        font-size: 0.9em;
        text-align:center;
    }

    #mobile-map {
        position: relative;
        top: -4430px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 50%;
        left:10px;
    }

    .table .td {
        border-style: hidden !important;
    }

    #mobile-cat {
        position: relative;
        top: -4740px;
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        left:90px;
    }
}




@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}


